.todoInput {
    display: flex;
    background-color: rgb(255, 214, 220);

    input {
        flex: 1;
        font-size: 1.2rem;
        padding: 0.5rem;
        background: none;
        outline: none;
        border: none;
        color: whitesmoke;
        font-style: italic;
    
        &::placeholder {
            color: rgba(240, 255, 255, 0.678);
        }
    }
    // input::placeholder {
    //     color: rgb(190, 190, 190);
    // }
    button {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: whitesmoke;
        color: pink;
        font-size: 1.7rem;
        &:hover {
            background-color: rgb(255, 173, 187);
            color: whitesmoke;
        }
    }
}